<div class="filters">
    <div class="oferta" *ngIf="oferta">
        <!-- Filtro de Ubicación -->
        <select id="ubicacion" [(ngModel)]="ubicacionFiltro" (change)="filtrarItems()">
            <option value="">Todas</option>
            <option value="remoto">Remoto</option>
            <option value="presencial">Presencial</option>
            <option value="hibrido">Híbrido</option>
        </select>

        <!-- Filtro de Vacante -->
        <input id="vacante" type="text" [(ngModel)]="vacanteFiltro" (input)="filtrarItems()" placeholder="Buscar vacante">
    </div>

    <div class="solicitud" *ngIf="solicitud">
        <!-- Filtro de Experiencia -->
        <select id="experiencia" [(ngModel)]="experienciaFiltro" (change)="filtrarItems()">
            <option value="">Todas</option>
            <option value="0-1">0-1 años</option>
            <option value="2-3">2-3 años</option>
            <option value="4+">4 años o más</option>
        </select>

        <!-- Filtro de Habilidades -->
        <input id="habilidades" type="text" [(ngModel)]="habilidadesFiltro" (input)="filtrarItems()" placeholder="Buscar habilidades">
    </div>
</div>

<ul>
    <li class="lista" *ngFor="let item of filteredItems">
        <ng-container *ngIf="oferta">
            <div class="left">
                <div class="contact">
                    <span class="subtitle">Empresa:</span>
                    <span>{{item.empresa}}</span>
                    <span class="subtitle">Contacto:</span>
                    <span>{{item.contacto}}</span>
                    <span class="subtitle">Ubicación:</span>
                    <span class="ubicacion">{{item.ubicacion}}</span>
                </div>
                <div class="experience">
                    <span class="subtitle">Salario:</span>
                    <span>{{item.salario}}</span>
                </div>
            </div>
            <div class="right">
                <div class="abilities">
                    <span class="subtitle">Resumen:</span>
                    <span class="text">{{item.vacante}}</span>
                    <span class="subtitle">Requisitos:</span>
                    <span class="text">{{item.requisitos}}</span>
                </div>
                <div class="interested">
                    <button>Interesado</button>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="solicitud">
            <div class="left">
                <div class="contact">
                    <span class="subtitle">Nombre:</span>
                    <span>{{item.nombre}}</span>
                    <span class="subtitle">Contacto:</span>
                    <span>{{item.email}}</span>
                    <br>
                    <span>{{item.telefono}}</span>
                </div>
                <div class="experience">
                    <span class="subtitle">Experiencia:</span>
                    <span>{{item.experiencia}}</span>
                </div>
            </div>
            <div class="right">
                <div class="abilities">
                    <span class="subtitle">Resumen:</span>
                    <span class="text">{{item.habilidades}}</span>
                </div>
                <div class="interested">
                    <button>Interesado</button>
                </div>
            </div>
        </ng-container>
    </li>
</ul>
