<main>
    <section class="form-container">
        <span>Buscar Empleo</span>
        <form id="buscar-empleo" [formGroup]="form" (ngSubmit)="meter()">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" placeholder="" required>
        
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" formControlName="email" placeholder="" required>
        
            <label for="telefono">Número de Teléfono</label>
            <input type="tel" id="telefono" formControlName="telefono" placeholder="" required>
        
            <label for="habilidades">Habilidades</label>
            <textarea id="habilidades" formControlName="habilidades" rows="12" placeholder="" required></textarea>
        
            <label for="experiencia">Años de Experiencia</label>
            <select id="experiencia" formControlName="experiencia" required>
                <option value="" disabled selected>Selecciona tu experiencia</option>
                <option value="0-1">0-1 años</option>
                <option value="2-3">2-3 años</option>
                <option value="4+">4 años o más</option>
            </select>
        
            <button type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
    </section>

    <section class="ofer-soli">
        <span class="title">OFERTAS</span>
        <app-ofer-soli [tabla]="tabla"/>
    </section>
</main>