<main>
    <section class="title">
        <span>ENCUENTRA EL EMPLEO DE TUS SUEÑOS</span>
    </section>

    <section class="offers">
        <div class="title">
            <span>ÚLTIMAS OFERTAS</span>
        </div>
        <div class="blocks">
            <div class="offer-container">
                <span>EN ESPERA DE NUEVAS OFERTAS</span>
            </div>
            <div class="offer-container">
                <span>EN ESPERA DE NUEVAS OFERTAS</span>
            </div>
            <div class="offer-container">
                <span>EN ESPERA DE NUEVAS OFERTAS</span>
            </div>
        </div>
    </section>

    <section class="offers">
        <div class="title">
            <span>ÚLTIMAS SOLICITUDES</span>
        </div>
        <div class="blocks">
            <div class="offer-container">
                <span>EN ESPERA DE NUEVAS SOLICITUDES</span>
            </div>
            <div class="offer-container">
                <span>EN ESPERA DE NUEVAS SOLICITUDES</span>
            </div>
            <div class="offer-container">
                <span>EN ESPERA DE NUEVAS SOLICITUDES</span>
            </div>
        </div>
    </section>
</main>