<main>
    <div class="forms-container">
        <div class="info">
            <span></span>
            <div>
                <h1></h1>
                <p></p>
            </div>
        </div>
        <form action="">
            <div class="fullname-container">
                <label for="f-name">Nombre</label>
                <input type="text" id="f-name" name="f-name">
                <label for="l-name">Apellidos</label>
                <input type="text" id="l-name" name="l-name">
            </div>

            <label for="message">Mensaje</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </form>
    </div>
    <div class="carousel-container">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="../../assets/images/carousel-1.png" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
                    </div>
                </div>
                </div>
                <div class="carousel-item">
                <img src="../../assets/images/carousel-2.png" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                    <h1>Another example headline.</h1>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                    </div>
                </div>
                </div>
                <div class="carousel-item">
                <img src="../../assets/images/carousel-3.png" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                    </div>
                </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
            </div>
    </div>
</main>