main > .title {
    margin: 100px 27.5%;
    text-align: center;
}

.title > span {
    font-family: "Erica one";
    font-size: clamp(40px, 8vw, 125px);
    color: #f8c1ba;
    margin: 0;
    line-height: 20vh;
}

.offers {
    background-color: #8584bd;
    padding-bottom: 1.5rem;
}

.offers > .title {
    text-align: center;
}

.offers > .title > span {
    font-family: "Erica one";
    font-size: clamp(40px, 5vw, 80px);
    color: #f9cc73;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-container {
    margin: 1.5rem auto;
    width: 50%;
    height: 35rem;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-container > span {
    font-family: "Erica one";
    font-size: clamp(30px, 3vw, 50px);
    text-align: center;
}

@media screen and (max-width: 1700px) {
    main > .title {
        margin: 100px 20%;
    }
}

@media screen and (max-width: 992px) {
    .title > span {
        line-height: 15vh;
    }
}

@media screen and (max-width: 768px) {
    main > .title {
        margin: 100px 10%;
        text-align: center;
    }

    .title > span {
        line-height: 10vh;
    }
}