main > .title {
    margin: 0 25%;
    text-align: center;
    height: 90vh;
    margin-top: 100px;
}

.title > span {
    font-family: "Erica one";
    font-size: 8vw;
    color: #f8c1ba;
    margin: 0;
    line-height: 20vh;
}

.offers {
    background-color: #8584bd;
    padding-bottom: 1.5rem;
}

.offers > .title {
    text-align: center;
}

.offers > .title > span {
    font-family: "Erica one";
    font-size: 5vw;
    color: #f9cc73;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-container {
    margin: 1.5rem auto;
    width: 50%;
    height: 35rem;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-container > span {
    font-family: "Erica one";
    font-size: 3vw;
    text-align: center;
}